<ion-header>
  <ion-navbar>
    <ion-toolbar no-border-top>
      <ion-buttons start>
        <button ion-button icon-only (click)="showChoseLocation()">
          <ion-icon name="locate"></ion-icon>
        </button>
        <button ion-button icon-only (click)="showRadio()">
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="showDatePicer()">
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Police UK</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map" style="height: 100%; width: 100%;"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row text-center>
      <ion-col col-4>Date:<br><b>{{dateYM}}</b> </ion-col>
      <ion-col col-4>Crime category: <br> <b>{{crimeCategory}}</b> </ion-col>
      <ion-col col-4>Lat: <b>{{latLng.lat}}</b><br> Lng: <b>{{latLng.lng}}</b></ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>